/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

body {
  background-color: lightgreen;
  color: #363636;
  font-family: : Verdana, "Times New Roman", sans-serif;
  font-size: 14px;
}
h2 {
  font-size: 28px;
  text-align: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2 span {
  color:blue;
}
.main {
  text-align: center;
  width: 450px;
  margin:0 auto;
  padding-bottom: 40px;
}
.login {
  font-style: italic;
  width: 200px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 22px;
  color: darkolivegreen;
}
#content {
  text-align: left;
}
.header_content {
  text-align: right;
}
.subtitle {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  color: darkolivegreen;
}
.subtitle span {
  width:320px;
  display: inline-block;
  vertical-align: text-top;
}

.textsmall {
  font-size:18px;
  color: #363636;
}
.textsmall div{
  margin-left: 50px;
}
.overnumber {
  font-style: italic;
  font-size:18px;
  color: grey;
}
.overnumber div{
  margin-left: 50px;
}
.subsubheader {
  margin-left:50px;
  font-size: 16px;
  color:#363636;
}
.message {
  color: red;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
}
.img_title {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
.img_subtitle {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
}
.aligned_label {
  margin-left: 60px;
}
.icon_header {
  cursor: pointer;
}
.riga {
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  border-top: 1px solid grey;
  cursor: pointer;
}
.riga div {
  width:250px;
}
.detail {
  width:250px;
  position: absolute;
  background: sandybrown;
  padding: 5px;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 40px;
}
.sublist {
  height:230px;
  overflow: auto;
}
.smallfield {
  width: 240px;
}
.spacedfield {
  width: 240px;
  margin-bottom: 20px;
}
.compat_button {
  width:110px;
  margin-left: 5px;
  margin-right: 5px;
}
.collegamento {
  text-decoration: underline;
  cursor: pointer;
}
#avvisi_content {
    height: 40px;
    position: fixed;
    bottom:0%;
    left: 0%;
    width:100%;
    background-color: #cbce02;
    border-top: 2px solid #f9fd02;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
#avvisi_content img {
  width:30px;
  margin: 5px;
  vertical-align: middle;
}
#avvisi_content span {
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
  color:white;
}
input {
  font-size: 16px;
}
.inputtext {
  width:300px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 450px) {
    h2 { font-size: 22px;width:250px;margin-left:auto;margin-right:auto;margin-top: -40px; }
    #title { font-size: 22px;margin-top: -40px }
    .subtitle {font-size: 20px;}
    .subtitle span {width:230px}
    .main {width:350px;}
    .textsmall {font-size: 18px;}
    .inputtext {width:180px;}
}
